/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1f1f1f;
    padding: 7px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    margin-top: 12px;
  }
  
  nav a {
    color: #bbb;
    margin: 0 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  #content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  article {
    background-color: #1c1c1c;
    padding: 15px;
    border-radius: 5px;
  }
  
  article h2 {
    margin: 0;
  }
  
  article p {
    font-size: 1.1rem;
  }
  
  #filter {
    margin-top: 0px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
  }
  
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.5rem;
    }
  }
  
  /* Styling for Category and Tags */
.post-meta {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 15px;
}

.post-meta span {
  font-weight: bold;
}

.post-category, .post-tags {
  display: block;
  margin-bottom: 5px;
}
